/*******************/
/* site defined vars */
/* spacing and layout */
:root {
  --sh-fontface: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Fira Sans", "Helvetica Neue", Arial, sans-serif;
  --sh-fontface-ar: "Traditional Arabic", tahoma, sans-serif;
  --sh-font-size: 1.4;
  --sh-font-weight-light: 300;
  --sh-font-weight: 400;
  --sh-font-weight-bold: 700;
  --sh-text-color: #202020;
  --sh-text-light: #959595;
  --sh-text-lighter: #cccccc;
  --sh-text-dark: #202020;
  --sh-white: #fff;
  --sh-grey-light: #f3f3f3;
  --sh-grey: #999999;
  --sh-grey-dark: #263238;
  --sh-black: #000;
  --sh-linkcolor: #0c00b4;
  --sh-visitedcolor: #800080;
  --sh-altcolor: #048bca;
  --sh-red: #f31109;
  --sh-yellow: #ffc400;
  --sh-green: #57b347;
  --sh-blue: #0097a7;
  --sh-red-light: #f96e69;
  --sh-yellow-light: #ffdc66;
  --sh-green-light: #98d28e;
  --sh-blue-light: #0ee8ff;
  --sh-space: 15px;
  --sh-rowlist-border: #f3f3f3;
  --sh-b-color: #999999;
  --sh-b-dark-color: #263238;
}
/* resetting */
/* CRITICAL BEGIN */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
/* CRITICAL END */
fieldset,
form,
iframe {
  border: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
img {
  border: 0 none;
  -webkit-user-select: none;
          user-select: none;
}
form {
  display: inline;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
[tabindex='-1']:focus {
  outline: 0 !important;
}
/* Border Radius*/
/* coloring forground */
/* rem */
/* icons*/
/* CRITICAL BEGIN */
.rel {
  position: relative;
}
.l {
  float: left;
}
.r {
  float: right;
}
/* CRITICAL END */
.clear {
  clear: both;
}
.txt-r {
  text-align: right;
}
.txt-c {
  text-align: center;
}
.txt-l {
  text-align: left;
}
.breath,
ul.breathout > li,
ol.breathout > li {
  padding-block-start: 7.5px;
  padding-block-end: 7.5px;
}
.spaced,
ul.spacedout > li,
ol.spacedout > li {
  margin-block-end: 15px;
}
.doublespaced,
ul.doubledspacedout > li,
ol.doublespacedout > li {
  margin-block-end: 30px;
}
.rbreath {
  padding-inline-end: 7.5px;
}
.lbreath {
  padding-inline-start: 7.5px;
}
.hbreath {
  padding-inline-end: 7.5px;
  padding-inline-start: 7.5px;
}
.rpad {
  padding-inline-end: 15px;
}
.lpad {
  padding-inline-start: 15px;
}
.hpad {
  padding-inline-end: 15px;
  padding-inline-start: 15px;
}
.lspace {
  margin-inline-start: 15px;
}
.rspace {
  margin-inline-end: 15px;
}
.hspace {
  margin-inline-start: 15px;
  margin-inline-end: 15px;
}
.padtop {
  padding-block-start: 15px;
  /* to be used only in extreme cases */
}
.spacetop {
  margin-block-start: 15px;
  /* to be used only in extreme cases */
}
.center {
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.lauto {
  margin-inline-start: auto;
}
.rauto {
  margin-inline-end: auto;
}
.text-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrap-break {
  word-wrap: break-word;
}
.wrap-none {
  white-space: nowrap;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.hidden {
  display: none;
}
.dinline {
  display: inline-block;
}
.dblock {
  display: block;
}
/*** border bottom, thin and thick ***/
.bthin {
  border-block-end: 1px solid var(--sh-b-color);
  padding-block-end: 15px;
}
.bthin-dark {
  border-block-end: 1px solid var(--sh-b-dark-color);
  padding-block-end: 15px;
}
.bthick {
  border-block-end: 3px solid var(--sh-b-color);
  padding-block-end: 15px;
}
.bthick-dark {
  border-block-end: 3px solid var(--sh-b-dark-color);
  padding-block-end: 15px;
}
.g-bthin > * {
  border-block-end: 1px solid var(--sh-b-color);
  padding-block-end: 15px;
}
.g-bthin-dark > * {
  border-block-end: 1px solid var(--sh-b-dark-color);
  padding-block-end: 15px;
}
.dev {
  display: inline-block !important;
  font-size: 11px!important;
  color: red!important;
  background-color: yellow!important;
}
/* layout */
/* CRITICAL BEGIN */
.page,
.singlepage {
  margin: 0 auto;
  width: 100%;
}
.container {
  padding: 15px;
}
.forprint {
  display: none;
}
.md-only {
  display: none;
}
.lg-only {
  display: none;
}
@media only screen and (min-width: 720px) {
  .page {
    max-width: 720px;
  }
  .singlepage {
    max-width: 600px;
  }
  .md-only {
    display: block;
  }
  .xs-hide {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  .page {
    max-width: 960px;
  }
  .singlepage {
    max-width: 720px;
  }
  .lg-only {
    display: block;
  }
  .md-hide {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .page {
    max-width: 1280px;
  }
  .singlepage {
    max-width: 720px;
  }
}
/* CRITICAL END */
/* CRITICAL BEGIN */
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: none;
}
/* CRITICAL END */
.btn,
.btn-rev,
.btn-fake,
.btn-diff {
  padding: 1.2rem 1.6rem;
  display: inline-block;
  transition: background-color 0.518s;
  line-height: 1;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 90%;
  cursor: pointer;
  border: 0;
}
.btn[disabled],
.btn-rev[disabled],
.btn-fake[disabled],
.btn-diff[disabled] {
  opacity: 0.5;
  cursor: default;
}
.btn {
  --sh-fade-grey: rgba(243, 243, 243, 0.5);
  color: var(--sh-linkcolor);
  background-color: var(--sh-grey-light);
}
.btn:hover {
  background-color: var(--sh-fade-grey);
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.5);
}
.btn-rev {
  --sh-link-light: #0f00e7;
  color: var(--sh-white);
  background-color: var(--sh-linkcolor);
}
.btn-rev:hover {
  background-color: --sh-link-light;
  color: var(--sh-white);
}
.btn-fake {
  font-weight: var(--sh-font-weight-bold);
  padding-inline-start: 0.8rem;
  padding-inline-end: 0.8rem;
}
.btn-fake:hover {
  color: var(--sh-linkcolor);
}
.btn-diff {
  background-color: #f31109;
  color: #fff;
}
.btn-diff:hover {
  background-color: #910a05;
  color: #fff;
}
.btn-sm {
  padding: 0.8rem;
}
.btn-busy[disabled] {
  color: var(--sh-text-light);
  background-color: var(--sh-grey-light);
  background-position: center 82%;
}
.btn-chop {
  margin-inline-start: -0.8rem;
  margin-inline-end: -0.8rem;
}
.btn-chop-start {
  margin-inline-start: -0.8rem;
}
.btn-chop-end {
  margin-inline-end: -0.8rem;
}
/* CRITICAL BEGIN */
/* affects wrapper and site width */
.w100 {
  width: 100%!important;
}
.h100 {
  height: 100%;
}
.h-1,
.uh-1 > li {
  min-height: 60px;
}
.h-2,
.uh-2 > li {
  min-height: 120px;
}
.h-3,
.uh-3 > li {
  min-height: 180px;
}
.h-4,
.uh-4 > li {
  min-height: 240px;
}
.h-5,
.uh-5 > li {
  min-height: 300px;
}
.h-6,
.uh-6 > li {
  min-height: 360px;
}
.hm-1,
.uhm-1 > li {
  max-height: 60px;
}
.hm-2,
.uhm-2 > li {
  max-height: 120px;
}
.hm-3,
.uhm-3 > li {
  max-height: 180px;
}
.hm-4,
.uhm-4 > li {
  max-height: 240px;
}
.hm-5,
.uhm-5 > li {
  max-height: 300px;
}
.hm-6,
.uhm-6 > li {
  max-height: 360px;
}
.row,
.row-spaced {
  display: flex;
  flex-wrap: wrap;
}
.row-spaced {
  justify-content: space-between;
}
.col,
.ucol > li {
  width: 100%;
}
.offset-c-1 {
  margin-inline-start: 8.33333333%;
}
.offset-c-2 {
  margin-inline-start: 16.66666667%;
}
.offset-c-3 {
  margin-inline-start: 25%;
}
.offset-c-4 {
  margin-inline-start: 33.33333333%;
}
.offset-c-5 {
  margin-inline-start: 41.66666667%;
}
.offset-c-6 {
  margin-inline-start: 50%;
}
.offset-c-7 {
  margin-inline-start: 58.33333333%;
}
.offset-c-8 {
  margin-inline-start: 66.66666667%;
}
.offset-c-9 {
  margin-inline-start: 75%;
}
.offset-c-10 {
  margin-inline-start: 83.33333333%;
}
.offset-c-11 {
  margin-inline-start: 91.66666667%;
}
.c-1,
.uc-1 > li {
  width: 8.33333333%;
}
.c-2,
.uc-2 > li {
  width: 16.66666667%;
}
.c-3,
.uc-3 > li {
  width: 25%;
}
.c-4,
.uc-4 > li {
  width: 33.33333333%;
}
.c-5,
.uc-5 > li {
  width: 41.66666667%;
}
.c-6,
.uc-6 > li {
  width: 50%;
}
.c-7,
.uc-7 > li {
  width: 58.33333333%;
}
.c-8,
.uc-8 > li {
  width: 66.66666667%;
}
.c-9,
.uc-9 > li {
  width: 75%;
}
.c-10,
.uc-10 > li {
  width: 83.33333333%;
}
.c-11,
.uc-11 > li {
  width: 91.66666667%;
}
.c-12,
.uc-12 > li {
  width: 100%;
}
.row-spaced > .c-1,
.row-spaced.uc-1 > li {
  width: calc(8.33333333% - 7.5px);
}
.row-spaced > .c-2,
.row-spaced.uc-2 > li {
  width: calc(16.66666667% - 7.5px);
}
.row-spaced > .c-3,
.row-spaced.uc-3 > li {
  width: calc(25% - 7.5px);
}
.row-spaced > .c-4,
.row-spaced.uc-4 > li {
  width: calc(33.33333333% - 7.5px);
}
.row-spaced > .c-5,
.row-spaced.uc-5 > li {
  width: calc(41.66666667% - 7.5px);
}
.row-spaced > .c-6,
.row-spaced.uc-6 > li {
  width: calc(50% - 7.5px);
}
.row-spaced > .c-7,
.row-spaced.uc-7 > li {
  width: calc(58.33333333% - 7.5px);
}
.row-spaced > .c-8,
.row-spaced.uc-8 > li {
  width: calc(66.66666667% - 7.5px);
}
.row-spaced > .c-9,
.row-spaced.uc-9 > li {
  width: calc(75% - 7.5px);
}
.row-spaced > .c-10,
.row-spaced.uc-10 > li {
  width: calc(83.33333333% - 7.5px);
}
.row-spaced > .c-11,
.row-spaced.uc-11 > li {
  width: calc(91.66666667% - 7.5px);
}
.row-spaced > .c-12,
.row-spaced.uc-12 > li {
  width: calc(100% - 7.5px);
}
.grid {
  display: grid;
}
.grid.spacedout {
  grid-gap: 15px;
}
.g-1 {
  grid-template-columns: 8.33333333% auto;
}
.g-2 {
  grid-template-columns: 16.66666667% auto;
}
.g-3 {
  grid-template-columns: 25% auto;
}
.g-4 {
  grid-template-columns: 33.33333333% auto;
}
.g-5 {
  grid-template-columns: 41.66666667% auto;
}
.g-6 {
  grid-template-columns: 50% auto;
}
.g-7 {
  grid-template-columns: 58.33333333% auto;
}
.g-8 {
  grid-template-columns: 66.66666667% auto;
}
.g-9 {
  grid-template-columns: 75% auto;
}
.g-10 {
  grid-template-columns: 83.33333333% auto;
}
.g-11 {
  grid-template-columns: 91.66666667% auto;
}
@media only screen and (min-width: 720px) {
  .offset-md-1 {
    margin-inline-start: 8.33333333%;
  }
  .offset-md-2 {
    margin-inline-start: 16.66666667%;
  }
  .offset-md-3 {
    margin-inline-start: 25%;
  }
  .offset-md-4 {
    margin-inline-start: 33.33333333%;
  }
  .offset-md-5 {
    margin-inline-start: 41.66666667%;
  }
  .offset-md-6 {
    margin-inline-start: 50%;
  }
  .offset-md-7 {
    margin-inline-start: 58.33333333%;
  }
  .offset-md-8 {
    margin-inline-start: 66.66666667%;
  }
  .offset-md-9 {
    margin-inline-start: 75%;
  }
  .offset-md-10 {
    margin-inline-start: 83.33333333%;
  }
  .offset-md-11 {
    margin-inline-start: 91.66666667%;
  }
  .gmd-1 {
    grid-template-columns: 8.33333333% auto;
  }
  .gmd-2 {
    grid-template-columns: 16.66666667% auto;
  }
  .gmd-3 {
    grid-template-columns: 25% auto;
  }
  .gmd-4 {
    grid-template-columns: 33.33333333% auto;
  }
  .gmd-5 {
    grid-template-columns: 41.66666667% auto;
  }
  .gmd-6 {
    grid-template-columns: 50% auto;
  }
  .gmd-7 {
    grid-template-columns: 58.33333333% auto;
  }
  .gmd-8 {
    grid-template-columns: 66.66666667% auto;
  }
  .gmd-9 {
    grid-template-columns: 75% auto;
  }
  .gmd-10 {
    grid-template-columns: 83.33333333% auto;
  }
  .gmd-11 {
    grid-template-columns: 91.66666667% auto;
  }
  .md-1,
  .umd-1 > li {
    width: 8.33333333%;
  }
  .md-2,
  .umd-2 > li {
    width: 16.66666667%;
  }
  .md-3,
  .umd-3 > li {
    width: 25%;
  }
  .md-4,
  .umd-4 > li {
    width: 33.33333333%;
  }
  .md-5,
  .umd-5 > li {
    width: 41.66666667%;
  }
  .md-6,
  .umd-6 > li {
    width: 50%;
  }
  .md-7,
  .umd-7 > li {
    width: 58.33333333%;
  }
  .md-8,
  .umd-8 > li {
    width: 66.66666667%;
  }
  .md-9,
  .umd-9 > li {
    width: 75%;
  }
  .md-10,
  .umd-10 > li {
    width: 83.33333333%;
  }
  .md-11,
  .umd-11 > li {
    width: 91.66666667%;
  }
  .md-12,
  .umd-12 > li {
    width: 100%;
  }
  .row-spaced > .md-1,
  .row-spaced.umd-1 > li {
    width: calc(8.33333333% - 7.5px);
  }
  .row-spaced > .md-2,
  .row-spaced.umd-2 > li {
    width: calc(16.66666667% - 7.5px);
  }
  .row-spaced > .md-3,
  .row-spaced.umd-3 > li {
    width: calc(25% - 7.5px);
  }
  .row-spaced > .md-4,
  .row-spaced.umd-4 > li {
    width: calc(33.33333333% - 7.5px);
  }
  .row-spaced > .md-5,
  .row-spaced.umd-5 > li {
    width: calc(41.66666667% - 7.5px);
  }
  .row-spaced > .md-6,
  .row-spaced.umd-6 > li {
    width: calc(50% - 7.5px);
  }
  .row-spaced > .md-7,
  .row-spaced.umd-7 > li {
    width: calc(58.33333333% - 7.5px);
  }
  .row-spaced > .md-8,
  .row-spaced.umd-8 > li {
    width: calc(66.66666667% - 7.5px);
  }
  .row-spaced > .md-9,
  .row-spaced.umd-9 > li {
    width: calc(75% - 7.5px);
  }
  .row-spaced > .md-10,
  .row-spaced.umd-10 > li {
    width: calc(83.33333333% - 7.5px);
  }
  .row-spaced > .md-11,
  .row-spaced.umd-11 > li {
    width: calc(91.66666667% - 7.5px);
  }
  .row-spaced > .md-12,
  .row-spaced.umd-12 > li {
    width: calc(100% - 7.5px);
  }
}
@media only screen and (min-width: 960px) {
  .offset-lg-1 {
    margin-inline-start: 8.33333333%;
  }
  .offset-lg-2 {
    margin-inline-start: 16.66666667%;
  }
  .offset-lg-3 {
    margin-inline-start: 25%;
  }
  .offset-lg-4 {
    margin-inline-start: 33.33333333%;
  }
  .offset-lg-5 {
    margin-inline-start: 41.66666667%;
  }
  .offset-lg-6 {
    margin-inline-start: 50%;
  }
  .offset-lg-7 {
    margin-inline-start: 58.33333333%;
  }
  .offset-lg-8 {
    margin-inline-start: 66.66666667%;
  }
  .offset-lg-9 {
    margin-inline-start: 75%;
  }
  .offset-lg-10 {
    margin-inline-start: 83.33333333%;
  }
  .offset-lg-11 {
    margin-inline-start: 91.66666667%;
  }
  .glg-1 {
    grid-template-columns: 8.33333333% auto;
  }
  .glg-2 {
    grid-template-columns: 16.66666667% auto;
  }
  .glg-3 {
    grid-template-columns: 25% auto;
  }
  .glg-4 {
    grid-template-columns: 33.33333333% auto;
  }
  .glg-5 {
    grid-template-columns: 41.66666667% auto;
  }
  .glg-6 {
    grid-template-columns: 50% auto;
  }
  .glg-7 {
    grid-template-columns: 58.33333333% auto;
  }
  .glg-8 {
    grid-template-columns: 66.66666667% auto;
  }
  .glg-9 {
    grid-template-columns: 75% auto;
  }
  .glg-10 {
    grid-template-columns: 83.33333333% auto;
  }
  .glg-11 {
    grid-template-columns: 91.66666667% auto;
  }
  .lg-1,
  .ulg-1 > li {
    width: 8.33333333%;
  }
  .lg-2,
  .ulg-2 > li {
    width: 16.66666667%;
  }
  .lg-3,
  .ulg-3 > li {
    width: 25%;
  }
  .lg-4,
  .ulg-4 > li {
    width: 33.33333333%;
  }
  .lg-5,
  .ulg-5 > li {
    width: 41.66666667%;
  }
  .lg-6,
  .ulg-6 > li {
    width: 50%;
  }
  .lg-7,
  .ulg-7 > li {
    width: 58.33333333%;
  }
  .lg-8,
  .ulg-8 > li {
    width: 66.66666667%;
  }
  .lg-9,
  .ulg-9 > li {
    width: 75%;
  }
  .lg-10,
  .ulg-10 > li {
    width: 83.33333333%;
  }
  .lg-11,
  .ulg-11 > li {
    width: 91.66666667%;
  }
  .lg-12,
  .ulg-12 > li {
    width: 100%;
  }
  .row-spaced > .lg-1,
  .row-spaced.ulg-1 > li {
    width: calc(8.33333333% - 7.5px);
  }
  .row-spaced > .lg-2,
  .row-spaced.ulg-2 > li {
    width: calc(16.66666667% - 7.5px);
  }
  .row-spaced > .lg-3,
  .row-spaced.ulg-3 > li {
    width: calc(25% - 7.5px);
  }
  .row-spaced > .lg-4,
  .row-spaced.ulg-4 > li {
    width: calc(33.33333333% - 7.5px);
  }
  .row-spaced > .lg-5,
  .row-spaced.ulg-5 > li {
    width: calc(41.66666667% - 7.5px);
  }
  .row-spaced > .lg-6,
  .row-spaced.ulg-6 > li {
    width: calc(50% - 7.5px);
  }
  .row-spaced > .lg-7,
  .row-spaced.ulg-7 > li {
    width: calc(58.33333333% - 7.5px);
  }
  .row-spaced > .lg-8,
  .row-spaced.ulg-8 > li {
    width: calc(66.66666667% - 7.5px);
  }
  .row-spaced > .lg-9,
  .row-spaced.ulg-9 > li {
    width: calc(75% - 7.5px);
  }
  .row-spaced > .lg-10,
  .row-spaced.ulg-10 > li {
    width: calc(83.33333333% - 7.5px);
  }
  .row-spaced > .lg-11,
  .row-spaced.ulg-11 > li {
    width: calc(91.66666667% - 7.5px);
  }
  .row-spaced > .lg-12,
  .row-spaced.ulg-12 > li {
    width: calc(100% - 7.5px);
  }
}
/* CRITICAL END */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 15px;
  pointer-events: none;
  display: flex;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 15px * 2);
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  outline: 0;
}
.animate.fromleft .modal-content {
  transform: translateX(-100%);
  animation: fromleft 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  animation-fill-mode: forwards;
}
.animate.fromright .modal-content {
  transform: translateX(100%);
  animation: fromright 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  animation-fill-mode: forwards;
}
.animate.fromtop .modal-content {
  transform: translateY(-100%);
  animation: fromtop 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  animation-fill-mode: forwards;
}
.animate.frombottom .modal-content {
  transform: translateY(100%);
  animation: frombottom 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
  animation-fill-mode: forwards;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  padding: 7.5px;
}
.modal-close:before {
  content: "x";
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 7.5px;
  overflow: auto;
  scrollbar-width: thin;
}
.modal-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.modal-body::-webkit-scrollbar-button:start:decrement,
.modal-body::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  background-color: transparent;
}
.modal-body::-webkit-scrollbar-track-piece {
  background-color: #f3f3f3;
  border-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.modal-body::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #263238;
  border-radius: 8px;
}
.modal-body::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #263238;
  border-radius: 8px;
}
.modal-footer {
  padding: 7.5px;
}
.modal-center .modal-dialog {
  align-items: center;
  height: calc(100vh - 15px * 2);
}
.modal-bottom-sheet .modal-dialog {
  align-items: flex-end;
  height: 100vh;
}
.modal-full-height .modal-content {
  height: calc(100vh - 15px * 2);
}
.modal-full-screen .modal-dialog {
  margin: 0;
  max-width: 100vw;
}
.modal-full-screen .modal-content {
  max-height: 100vh;
  min-height: 100vh;
}
.modal-half-screen .modal-dialog {
  margin: 0;
  max-width: 90vw;
}
.modal-half-screen .modal-content {
  max-height: 100vh;
  min-height: 100vh;
}
.reverse .modal-dialog {
  margin-inline-start: auto;
}
@media only screen and (min-width: 720px) {
  .modal-dialog {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 700px;
  }
  .modal-half-screen .modal-dialog {
    max-width: 50vw;
  }
}
/* RTL BEGIN */
@keyframes fromleft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fromright {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
/* RTL END */
@keyframes frombottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fromtop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
/*Basic Card */
.card {
  position: relative;
  display: flex;
  overflow: hidden;
}
.card .tail {
  margin-inline-start: auto;
  /* for all browsers, except chrome, inherit flex display */
}
.card .corner {
  position: absolute;
  top: 0;
  right: 0;
}
.card .corner-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
.card-v {
  flex-direction: column;
}
.card-v .tail-v {
  margin-top: auto;
}
.card-btns button {
  margin-inline-end: 7.5px;
}
.valign-center {
  align-items: center;
}
.valign-top {
  align-items: flex-start;
}
/* font setting */
/* CRITICAL BEGIN */
html {
  font-size: 62.5%;
}
body,
textarea,
select,
option,
input {
  font-family: var(--sh-fontface);
  font-size: 1.4rem;
  color: var(--sh-text-color);
}
/* CRITICAL END */
section {
  margin-bottom: 22.5px;
}
p {
  margin-bottom: 15px;
}
/* font size */
.larger {
  font-size: 4.9rem;
}
.large {
  font-size: 4.2rem;
}
.f1 {
  font-size: 3.5rem;
}
.f2 {
  font-size: 2.8rem;
}
.f3 {
  font-size: 2.45rem;
}
.f4 {
  font-size: 2.1rem;
}
.f5 {
  font-size: 1.75rem;
}
.f6 {
  font-size: 1.4rem;
}
.small {
  font-size: 1.26rem;
}
.smaller {
  font-size: 1.12rem;
}
.weight-light {
  font-weight: 300;
}
@supports (font-variation-settings: "wght"300) {
  .weight-light {
    font-weight: 300;
  }
}
.weight-normal {
  font-weight: 400;
}
@supports (font-variation-settings: "wght"400) {
  .weight-normal {
    font-weight: 400;
  }
}
.weight-bold {
  font-weight: 700;
}
@supports (font-variation-settings: "wght"700) {
  .weight-bold {
    font-weight: 700;
  }
}
.face-italic {
  font-style: italic;
}
/* mixed content*/
/* CRITICAL BEGIN */
.ltr {
  font-family: var(--sh-fontface);
  direction: ltr;
}
.rtl {
  font-family: var(--fontface-ar);
  direction: rtl;
}
/* CRITICAL END */
/* HTML tags redefined */
a,
.a {
  /* mimic a href */
  color: var(--sh-linkcolor);
  text-decoration: none;
  cursor: pointer;
}
/*camoflage a*/
a.cam,
.a.cam,
.cam {
  color: var(--sh-text-color);
  cursor: pointer;
}
a.cam:hover,
.a.cam:hover,
.cam:hover {
  color: var(--sh-linkcolor);
}
a[rel='track']:visited {
  color: var(--sh-visitedcolor);
}
a:hover,
.a:hover,
a[rel='track']:hover {
  color: var(--sh-altcolor);
}
.normalsize {
  font-size: 1.4rem !important;
  font-family: var(--sh-fontface);
}
.sup {
  font-size: 70%;
  vertical-align: 4px;
}
.del {
  color: var(--sh-text-light);
  text-decoration: line-through;
}
/* CRITICAL BEGIN */
@media only screen and (min-width: 720px) {
  html {
    font-size: 75%;
  }
}
/* CRITICAL END */
.box {
  padding: 1rem;
  border-radius: 3px;
  position: relative;
}
ul.boxed > li {
  padding: 1rem;
  border-radius: 3px;
  position: relative;
}
.box-red {
  background-color: #f31109;
  color: #fff;
}
.box-yellow {
  background-color: #ffc400;
  color: #202020;
}
.box-green {
  background-color: #57b347;
  color: #fff;
}
.box-blue {
  background-color: #0097a7;
  color: #fff;
}
.box-red-light {
  background-color: #f96e69;
  color: #fff;
}
.box-yellow-light {
  background-color: #ffdc66;
  color: #202020;
}
.box-green-light {
  background-color: #98d28e;
  color: #202020;
}
.box-blue-light {
  background-color: #0ee8ff;
  color: #202020;
}
.box-light {
  background-color: #959595;
  color: #fff;
}
.box-lighter {
  background-color: #cccccc;
  color: #202020;
}
.box-grey {
  background-color: #999999;
  color: #fff;
}
.box-grey-light {
  background-color: #f3f3f3;
  color: #202020;
}
.box-grey-dark {
  background-color: #263238;
  color: #fff;
}
.box-white-dark {
  border: 1px solid #263238;
  background-color: #fff;
  color: #202020;
}
.box-white-normal {
  border: 1px solid #999999;
  background-color: #fff;
  color: #202020;
}
.box-white {
  border: 1px solid #f3f3f3;
}
.box-shadow-none {
  box-shadow: none;
}
.box-shadow-shallow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.box-shadow-normal {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.box-shadow-deep {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
.box-shadow-deeper {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
.red {
  color: #f31109;
}
.yellow {
  color: #ffc400;
}
.green {
  color: #57b347;
}
.blue {
  color: #0097a7;
}
.red-light {
  color: #f96e69;
}
.yellow-light {
  color: #ffdc66;
}
.green-light {
  color: #98d28e;
}
.blue-light {
  color: #0ee8ff;
}
.light {
  color: #959595;
}
.lighter {
  color: #cccccc;
}
.grey {
  color: #999999;
}
.grey-light {
  color: #f3f3f3;
}
.grey-dark {
  color: #263238;
}
.label {
  padding: 0.25rem 0.8rem;
  border-radius: 3px;
  display: inline-block;
}
a.label {
  transition: background-color 0.15s, color 0.15s;
}
.label-red {
  background-color: #f31109;
  color: #fff;
}
a.label-red:hover {
  background-color: #f95650;
  color: #fff;
}
.label-yellow {
  background-color: #ffc400;
  color: #202020;
}
a.label-yellow:hover {
  background-color: #ffd64d;
  color: #202020;
}
.label-green {
  background-color: #57b347;
  color: #fff;
}
a.label-green:hover {
  background-color: #87cb7c;
  color: #202020;
}
.label-blue {
  background-color: #0097a7;
  color: #fff;
}
a.label-blue:hover {
  background-color: #00dcf3;
  color: #202020;
}
.label-red-light {
  background-color: #f96e69;
  color: #fff;
}
a.label-red-light:hover {
  background-color: #fcb5b2;
  color: #202020;
}
.label-yellow-light {
  background-color: #ffdc66;
  color: #202020;
}
a.label-yellow-light:hover {
  background-color: #ffedb3;
  color: #202020;
}
.label-green-light {
  background-color: #98d28e;
  color: #202020;
}
a.label-green-light:hover {
  background-color: #cae8c5;
  color: #202020;
}
.label-blue-light {
  background-color: #0ee8ff;
  color: #202020;
}
a.label-blue-light:hover {
  background-color: #5befff;
  color: #202020;
}
.label-light {
  background-color: #959595;
  color: #fff;
}
a.label-light:hover {
  background-color: #bbbbbb;
  color: #202020;
}
.label-lighter {
  background-color: #cccccc;
  color: #202020;
}
a.label-lighter:hover {
  background-color: #f2f2f2;
  color: #202020;
}
.label-grey {
  background-color: #999999;
  color: #fff;
}
a.label-grey:hover {
  background-color: #bfbfbf;
  color: #202020;
}
.label-grey-light {
  background-color: #f3f3f3;
  color: #202020;
}
a.label-grey-light:hover {
  background-color: #ffffff;
  color: #202020;
}
.label-grey-dark {
  background-color: #263238;
  color: #fff;
}
a.label-grey-dark:hover {
  background-color: #455b66;
  color: #fff;
}
.label-white {
  border: 1px solid #999999;
  padding: 0.25rem 0.8rem;
  border-radius: 3px;
  display: inline-block;
}
ul.normal > li,
.normal > ul > li {
  margin-inline-start: 22.5px;
  list-style-type: disc;
}
ol.normal > li {
  list-style-position: inside;
  list-style-type: decimal;
}
/**** nested lists for multiple uls */
ul.nestedlist > li > ul,
div.nestedlist > ul,
ol.nestedlist > li > ol {
  padding-inline-start: 30px;
}
/*Basic list*/
/* listings */
.alist > li {
  padding-block-end: 0.7rem;
  margin-block-end: 0.7rem;
}
.blist > li {
  border-block-end: 1px solid var(--sh-rowlist-border);
}
.rowlist > li {
  padding-block-end: 0.7rem;
  margin-block-end: 0.7rem;
}
.rowlist > li {
  border-block-end: 1px solid var(--sh-rowlist-border);
}
/**** comma seperated items */
ul.commalist {
  display: inline;
}
ul.commalist li {
  display: inline-block;
}
ul.commalist li:after {
  content: ", ";
  white-space: pre;
}
ul.commalist li:last-child:after {
  content: "";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table th,
table td {
  vertical-align: top;
}
table th {
  text-align: left;
}
table.txt-r th,
table th.txt-r {
  text-align: right;
}
table caption {
  text-align: left;
}
table.tabulated th {
  padding-block-end: 2px;
  border-block-end: 1px solid #263238;
  font-weight: 700;
}
table.tabulated td {
  padding: 2px 0;
  border-block-end: 1px solid #f3f3f3;
}
table.tabulated tfoot td {
  border-block-start: 2px solid #263238;
}
table.spacedout td,
table.spacedout th {
  padding: 15px;
}
table.bordered td,
table.bordered th {
  border: 1px solid #f3f3f3;
}
table.bordered tfoot td {
  border-block-start: 2px solid #263238;
}
table.striped tbody tr:nth-child(odd) {
  background-color: #f3f3f3;
}
table.rich th,
table.rich td {
  border: 1px solid #f3f3f3;
  padding: 7.5px;
}
table.rich th {
  font-weight: 700;
  background-color: #f3f3f3;
  border: 1px solid #9fb4be;
  border-block-end: 2px solid #263238;
}
table.rich tfoot td {
  border-block-start: 2px solid #9fb4be;
  background-color: #f8f8f8;
}
.table-h {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}
.table-h > table > tbody > tr > td {
  white-space: nowrap;
}
/* Print */
.modal-close:before {
  content: '';
}
.modal-sub-screen .modal-dialog {
  width: 80vw;
  margin: 0;
}
.modal-sub-screen .modal-content {
  min-height: 100vh;
}
@media only screen and (min-width: 720px) {
  .modal-sub-screen .modal-dialog {
    max-width: 80vw;
  }
}
.scale span.bar {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  height: 10px;
  background-image: linear-gradient(-90deg, hsl(0, 100%, 50%), hsla(0, 0%, 50%, 0.3));
  background-repeat: no-repeat;
}
.point[data-value="10"] {
  fill: hsla(0, 0%, 50%, 0.3);
}
.point[data-value="20"] {
  fill: hsla(0, 10%, 50%, 0.35);
}
.point[data-value="30"] {
  fill: hsla(0, 20%, 50%, 0.4);
}
.point[data-value="40"] {
  fill: hsla(0, 30%, 50%, 0.45);
}
.point[data-value="50"] {
  fill: hsla(0, 40%, 50%, 0.5);
}
.point[data-value="60"] {
  fill: hsla(0, 50%, 50%, 0.55);
}
.point[data-value="70"] {
  fill: hsla(0, 60%, 50%, 0.6);
}
.point[data-value="80"] {
  fill: hsla(0, 70%, 50%, 0.66);
}
.point[data-value="90"] {
  fill: hsla(0, 80%, 50%, 0.7);
}
.point[data-value="100"] {
  fill: hsl(0, 100%, 50%);
}
