

.scale span.bar {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	height: 10px;
	background-image: linear-gradient(-90deg, hsla(0, 100%, 50%, 1), hsla(0, 0%, 50%, 0.3));
	background-repeat: no-repeat;
}

.point[data-value="10"] { fill:hsla(0, 0%, 50%, 0.3); }
.point[data-value="20"] { fill:hsla(0, 10%, 50%, 0.35); }
.point[data-value="30"] { fill:hsla(0, 20%, 50%, 0.4); }
.point[data-value="40"] { fill:hsla(0, 30%, 50%, 0.45); }
.point[data-value="50"] { fill:hsla(0, 40%, 50%, 0.5); }
.point[data-value="60"] { fill:hsla(0, 50%, 50%, 0.55); }
.point[data-value="70"] { fill:hsla(0, 60%, 50%, 0.6); }
.point[data-value="80"] { fill:hsla(0, 70%, 50%, 0.66); }
.point[data-value="90"] { fill:hsla(0, 80%, 50%, 0.7); }
.point[data-value="100"] { fill:hsla(0, 100%, 50%, 1); }