.modal-close:before {
	content: '';
}

.modal-sub-screen {
	.modal-dialog {
		width: 80vw;
		margin: 0;
	}
	.modal-content {
		min-height: 100vh;
	}
}


.media(md, {
    .modal-sub-screen {
        .modal-dialog {
            max-width: 80vw;
        }
    }
});
